<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web 
  Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<!-- (1)DTD宣言の設定 -->

<web-app>
  <context-param>
  	<param-name>CONSUMERKEY</param-name>
  	<param-value></param-value>
  </context-param>
  <context-param>
  	<param-name>CONSUMERSECRET</param-name>
  	<param-value></param-value>
  </context-param>
  <!-- (2)servletタグの設定 -->
  <servlet>
    <servlet-name>twitest</servlet-name>
    <servlet-class>servlet.twitter.Search</servlet-class>
  </servlet>
  
  <!-- 
   <servlet>
    <servlet-name>IndexPage</servlet-name>
    <servlet-class>../twitterjsp/index.jsp</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>TopPage</servlet-name>
    <servlet-class>../twitterjsp/top.jsp</servlet-class>
  </servlet>
	-->

  <!-- (3)servlet-mappingタグの設定 -->
  <!--  
  <servlet-mapping>
    <servlet-name>IndexPage</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>TopPage</servlet-name>
    <url-pattern>/top.html</url-pattern>
  </servlet-mapping>
	-->
  <servlet-mapping>
    <servlet-name>twitest</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>

</web-app>
